<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SRI" connectionString="metadata=res://*/Entity.Modelo.csdl|res://*/Entity.Modelo.ssdl|res://*/Entity.Modelo.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=XE;PASSWORD=SRI;USER ID=SRI&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>